<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BOOKSHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/books']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">BD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My list</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">

                    <form (ngSubmit)="save()" [formGroup]="bookForm" novalidate>
                        <div class="media">
                            <div class="form-group align-self-center mr-3">
                                <img src={{book?.picture}} alt="...">
                                <!-- <input type="file" class="form-control-file" id="picture" formControlName="picture"> -->
                                <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="myUploader($event)"></p-fileUpload>
                               
                            </div>

                            <div class="media-body">
                                <h5 class="mt-0"> Edit book : {{book?.title}}</h5>


                                <div class="form-group">
                                    <label for="id">ID</label>
                                    <input type="number" class="form-control" id="id" formControlName="id">
                                </div>


                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="title">Title</label>
                                        <input type="text" class="form-control" id="title" formControlName="title"
                                            [ngClass]="{'is-invalid' : (bookForm.get('title').touched || bookForm.get('title').dirty) && !bookForm.get('title').valid}">
                                        <span class="invalid-feedback">
                                            <span *ngIf="bookForm.get('title').errors?.required">
                                                Please enter a Title.
                                            </span>
                                        </span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="author">Author</label>
                                        <input type="text" class="form-control" id="author" formControlName="author"
                                            [ngClass]="{'is-invalid' : (bookForm.get('author').touched || bookForm.get('author').dirty) && !bookForm.get('author').valid}">

                                        <span class="invalid-feedback">
                                            <span *ngIf="bookForm.get('author').errors?.required">
                                                Please enter an Author.
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="date">Publication Date</label>
                                        <input type="date" class="form-control" id="date"
                                            formControlName="publicationYear"
                                            [ngClass]="{'is-invalid' : (bookForm.get('publicationYear').touched || bookForm.get('publicationYear').dirty) && !bookForm.get('publicationYear').valid}">

                                        <span class="invalid-feedback">
                                            <span *ngIf="bookForm.get('publicationYear').errors?.required">
                                                Please enter a publication date.
                                            </span>
                                        </span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputState">Category</label>
                                        <select id="inputState" class="form-control" formControlName="categoryTitle">
                                            <!-- <option selected>{{book?.categoryTitle}}</option> -->
                                            <option [selected]="book?.categoryTitle" *ngFor="let category of categories$ | async "
                                             >
                                                
                                                {{category.name}}
                                               
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" id="description" rows="3"
                                        formControlName="description"></textarea>
                                </div>


                                <div class="form-group">
                                    <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu
                                        leo.
                                        Cum
                                        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                        mus.</p>
                                </div>

                                <div class="alert alert-danger" *ngIf="errorMessage">
                                    {{errorMessage}}
                                </div>
                                <div class="row justify-content-md-center ">
                                    <div class="col col-md-2">
                                        <button pButton type="button" icon="pi pi-arrow-left"
                                            class="ui-button-secondary" [routerLink]="['/books']"
                                            queryParamsHandling="preserve"></button>
                                    </div>

                                    <div class="col col-md-2">
                                        <button pButton type="button" label="Save"
                                            class="ui-button-rounded ui-button-info" type="submit"></button>
                                    </div>

                                    <div class="col col-md-2">
                                        <button pButton type="button" label="Delete" (click)="delete()"
                                            class="ui-button-rounded ui-button-danger"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer text-right py-3">
        Djimafo Guers Vagal © 2020 Copyright
    </div>
</div>