.book-details > .p-grid {
    border: 1px solid #b3c2ca;
    border-radius: 3px;
    margin: 0.3em;
    text-align: center;
    padding: 2em 0 2.25em 0;}

    .book-data .book-title {
        font-weight: 700;
        font-size: 20px;
        margin-top: 24px;
    }
    .book-subtitle {
        margin: 0.25em 0 2em 0;
    }

.book-button{
    padding: 2em 0 2.25em 0;
}

.backgroundBook{
    /* background-image: url('../../assets/backgrounBook.png'); */
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover; 
    background-position: center;
    background-color: #cccccc;
}